{{var "package_name" workspace_default_members.[0]}}
{{~#with (lookup packages (var "package_name"))}}
{{~var "crate_name" lib.doc_name}}
![Version](https://img.shields.io/static/v1?label=version&message={{version}}&color=informational)
[![docs.rs](https://img.shields.io/docsrs/{{var "package_name"}})](https://docs.rs/{{var "package_name"}}/latest/{{var "crate_name"}}/)
[![Crates.io License](https://img.shields.io/crates/l/{{var "package_name"}})](#license)
[![Crates.io](https://img.shields.io/crates/v/{{var "package_name"}})](https://crates.io/crates/{{var "package_name"}})

{{#table}}
| Crate | Version |
|---|---|
{{#each dependencies}}
| {{@key}} | {{req}} |
{{/each}}
{{/table}}

{{/with}}
